/* O programa em questão é um website de vendas de bilhetes para o navio Titanic, 
desenvolvido com HTML, CSS e JavaScript. Ele possui um layout responsivo,
permitindo que os usuários acessem o site em diferentes dispositivos com diferentes tamanhos de tela. 
O website é composto por várias páginas, incluindo a página inicial com uma imagem do navio Titanic e 
um botão "Reserve agora", a página de vendas de bilhetes onde os usuários podem escolher a data e o tipo de 
bilhete que desejam comprar, uma página para cadastro de usuários, uma página que apresenta as compras 
realizadas pelos usuários, entre outras. O programa é de código aberto sob a Licença MIT, permitindo que 
os usuários possam utilizar, modificar e distribuir o código-fonte para qualquer finalidade. Se você usar este projeto como base para criar um novo projeto, por favor, atribua crédito ao autor original 
“ Felipe Araujo do Carmo”.

Aluno:Felipe Araujo do Carmo RA: 21654178
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
   font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 1rem;
  
  }
  
  header {
    background-color: #333;
  color: #fff;
  padding: 1rem;
    }

main {
    max-width: 800px;
    margin: 2rem auto 0;
    padding: 1rem;
    flex-grow: 1;

}

h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}

p {
    color: #555;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }

  h2 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 0;
  }
#ul1{

    list-style: none;
  padding: 0;
  margin: 2rem auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#li1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

label {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
}

input{
padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

button {
    background-color: #3f51b5;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

footer {
position: fixed;
background-color: #333;
color: #fff;
padding: 1rem;
text-align: center;
bottom: 0;
width: 100%;


}

footer ul {
list-style: none;
padding: 0;
}

footer li {
margin-bottom: 5px;
}

footer a {
color: #fff;
text-decoration: none;
}

#carrinho {
list-style: none;
padding: 0;
margin-top: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

#carrinho li {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
border-bottom: 1px solid #ccc;
}

#carrinho li:last-child {
border-bottom: none;
}

#carrinho span {
margin-left: 10px;
}

.erro {
color: red;
font-weight: bold;
margin-top: 5px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
 
  
  .menu a:hover {
    background-color: #111;
  }
  
  @media screen and (max-width: 768px) {
    li {
      width: 80%;
    }
  }

  .navios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  .navios img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .navio.animated {
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  .thumbnail {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }


  .banner h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #ccc;
    color: #333;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(53, 45, 45);
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  /* Features */
  .features {
    padding: 3rem;
    background-color: #f2f2f2;
  }
  
  .features h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .feature img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .feature h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .feature p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  /* Destinations */
  .destinations {
    padding: 3rem;
    background-color: #e6e6e6;
  }
  
  .destinations h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .destination {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .destination img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .destination h3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* Estilos para o formulário de cadastro */
.form-cadastro {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input-group label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
  
  .input-group input,
  .input-group select {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .btn-cadastro {
    background-color: #3f51b5;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-cadastro:hover {
    background-color: #2c3e50;
  }

  input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
  
#btnAdicionar {
    margin-left: 1rem;
  }
  
  #carrinho {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #carrinho li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  #carrinho li span {
    margin-right: 1rem;
  }
  
  #total {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .form-group {
      flex-direction: column;
      align-items: stretch;
    }
    
    label {
      margin-bottom: 0.5rem;
    }
    
    #btnAdicionar {
      margin-top: 0.
    }

    
label {
    margin-right: 1rem;
  }

  input[type="text"],
  input[type="number"],

  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
